.main{
    width: 80%;
    max-width: 1000px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: 'Montserrat';
}

.between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.orderBy {
    padding: 0px 8px;
    flex-grow: 1;
    height: 30px;
    top: 323px;
    left: 162px;
    opacity: 1;
    border-radius: 10px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #adadad80;
    color: #000000;
    font-size: 14px;
}