/* src/components/PostCard.module.css */
.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #697077;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.authorInfo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.avatarIcon {
    color: #94A3B8;
    flex-shrink: 0;
}

.authorName {
    font-weight: 700;
}

.timestamp {
    font-size: 0.875rem;
    color: #64748B;
}

.optionsContainer {
    position: relative;
}

.optionsButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #64748B;
    padding: 0.25rem;
    border-radius: 50%;
}

.optionsButton:hover {
    background-color: #F1F5F9;
}

.optionsMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #adadad;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    z-index: 10;
    min-width: 120px;
}

.optionsMenu button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
}

.optionsMenu button:hover {
    background-color: #e4e4e4;
}

.deleteButton {
    color: #ef4444;
    /* Merah */
    font-weight: 600;
}

.postContent {
    margin-bottom: 1rem;
    line-height: 1.6;
    padding-left: 52px;
}

.postActions {
    display: flex;
    gap: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #F1F5F9;
    padding-left: 52px;
}

.actionButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #64748B;
    font-weight: 600;
}

.repliesSection {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #F1F5F9;
}

.replyForm {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.replyInput {
    flex-grow: 1;
    padding: 0.75rem 1rem;
    border: 1px solid #697077;
    border-radius: 9999px;
}

.loginPrompt {
    background-color: #F1F5F9;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.loginLink {
    font-weight: 700;
    color: #0A2E47;
    text-decoration: none;
    margin-left: auto;
}

.commentHeader {
    font-weight: 700;
    margin-bottom: 1rem;
}

.repliesList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: filter 0.3s ease;
}

.repliesBlurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

.reply {
    border-top: 1px solid #697077;
    padding: 1rem 0;
}

.reply:first-child {
    border-top: none;
    /* Hapus border atas untuk balasan pertama */
}

.replyContent {
    padding-left: 44px;
    margin: 0.5rem 0;
}

.nestedReply {
    margin-left: 2.5rem;
    padding-top: 1rem;
    border-left: 2px solid #F1F5F9;
}